
<div class="row center-align">
  <h1>قائمة المتبرعين</h1>
</div>
<div id="contain">
  <div class="row">
    <div class="col s12 m12 offset-l2 l8 z-depth-1-half" id="results">
      <div class="row">
        <% if @donors.any? %>
            <% @donors.each do |donor| %>
                <div class="col s12 m12 waves-effect single-donor" >
                  <span class="dn"> <%= donor.name %> </span>
                  <span class="dp"> <%= donor.phone_number%></span>
                </div>
            <% end %>
        <% else %>
            <div class="col s12 m12 waves-effect single-donor center-align" >
              <span class="dn"> للاسف لا يوجد اي متبرعين</span>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>