<div id="contain">
  <div class="row">
    <div class="col s12 m6 offset-m3 z-depth-2" id="search-card">
      <div class="row valign center-align">
        <div class="input-field col s12 m6">
          <select>
            <option value="" disabled selected>اختر فصيلة الدم</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
          <label>فصيلة الدم</label>
        </div>
        <div class="input-field col s12 m6">
          <select>
            <option value="" disabled selected>اختر ولايتك</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
          <label>الولاية</label>
        </div>
        <div class="row">
          <button class="btn waves-effect waves-light" type="submit" name="action">بحث</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 offset-m3 m6 z-depth-1-half" id="register-card">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="first_name" type="text" class="validate">
              <label for="first_name">الاسم</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="disabled" type="text" class="validate">
              <label for="disabled">رقم الهاتف</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <select>
                <option value="" disabled selected>اختر ولايتك</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
              <label>الولاية</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">البريد الالكتروني</label>
            </div>
          </div>
          <div class="row center-align">
            <button class="btn waves-effect waves-light" type="submit" name="action">تسجيل متبرع جديد</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
