<footer class="page-footer " style="background-color: #00bcd6">
  <div class="footer-copyright">
    <div class="container">
      © <%= Time.now.year %> برنامج مفتوح المصدر

      <a class="grey-text text-lighten-4 right" href="https://github.com/Kiloreux/BloodBank">Github</a>
    </div>
  </div>
</footer>