<footer class="page-footer " style="background-color: #00bcd6">
  <div class="footer-copyright">
    <div class="container center-align">
      © <%= Time.now.year %> برنامج مفتوح المصدر
    </div>
  </div>
</footer>